<div class="list-wrap">
<% @lists.each do |list| %>
  <div class="list-box">
    
    <div class="list-comment">
      <span class="list-body"><%= list.body %></span>
      <span class="list-title"><%=link_to list.title, list_path(list.id) %></span>
    </div>
    <!--コメントアウト for rspev-->
    <% if false %>
      <% if list.image.attached? %>
        <%= image_tag list.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    <% end %>  
    <!--コメントアウト-->
  </div>
<% end %>
</div>